{{ with .route_sign }}
  {{ range . }}
    {{ if eq . "R" }}
      <div class="route-sign-sm redline" data-toggle="tooltip" data-placement="bottom" title="Red Line 紅綫">&nbsp;R&nbsp;</div>
    {{ else if eq . "G" }}
      <div class="route-sign-sm greenline" data-toggle="tooltip" data-placement="bottom" title="Green Line 綠綫">&nbsp;G&nbsp;</div>
    {{ else if eq . "B" }}
      <div class="route-sign-sm blueline" data-toggle="tooltip" data-placement="bottom" title="Blue Line 藍綫">&nbsp;B&nbsp;</div>
    {{ else if eq . "A" }}
      <div class="route-sign-sm airportline" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Airport Line (Commuter)<br>空港綫(普通)">&nbsp;A&nbsp;</div>
    {{ else if eq . "Ax" }}
      <div class="route-sign-sm airportexpress" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Airport Line (Express)<br>空港綫(直達)">&nbsp;A&nbsp;</div>
    {{ else if eq . "Ac" }}
      <div class="route-sign-sm airportcomposite" data-toggle="tooltip" data-placement="bottom" title="Airport Line 空港綫">&nbsp;A&nbsp;</div>
    {{ else if eq . "V" }}
      <div class="route-sign-sm victoryline" data-toggle="tooltip" data-placement="bottom" title="Victory Line 勝利綫">&nbsp;V&nbsp;</div>
    {{ else if eq . "W" }}
      <div class="route-sign-sm waterfallline" data-toggle="tooltip" data-placement="bottom" title="Waterfall Line 瀑布綫">&nbsp;W&nbsp;</div>
    {{ else if eq . "C" }}
      <div class="route-sign-sm cityloopline" data-toggle="tooltip" data-placement="bottom" title="City Loop Line 三環綫">&nbsp;C&nbsp;</div>
    {{ else if eq . "D" }}
      <div class="route-sign-sm diamondline" data-toggle="tooltip" data-placement="bottom" title="Diamond Line 鑽石綫">&nbsp;D&nbsp;</div>
    {{ else if eq . "P" }}
      <div class="route-sign-sm pandaexpress" data-toggle="tooltip" data-placement="bottom" title="Panda Express 熊貓快綫">&nbsp;P&nbsp;</div>
    {{ end }}
  {{ end }}
{{ end }}