{{ if eq (.Get "route") "R" }}
  <div class="route-sign-sm redline{{ with .Get `vertical` }} my-05{{ end }}">
    <a href="/wiki/red-line" title="Red Line (Mirai Metro)" class="text-reset text-decoration-none stretched-link">{{ .Get "route" }}</a>
  </div>
{{ else if eq (.Get "route") "G" }}
  <div class="route-sign-sm greenline{{ with .Get `vertical` }} my-05{{ end }}">
    <a href="/wiki/green-line" title="Green Line (Mirai Metro)" class="text-reset text-decoration-none stretched-link">{{ .Get "route" }}</a>
  </div>
{{ else if eq (.Get "route") "B" }}
  <div class="route-sign-sm blueline{{ with .Get `vertical` }} my-05{{ end }}">
    <a href="/wiki/blue-line" title="Blue Line (Mirai Metro)" class="text-reset text-decoration-none stretched-link">{{ .Get "route" }}</a>
  </div>
{{ else if eq (.Get "route") "A" }}
  <div class="route-sign-sm airportline{{ with .Get `vertical` }} my-05{{ end }}">
    <a href="/wiki/airport-line" title="Airport Line (Mirai Metro)" class="text-reset text-decoration-none stretched-link">{{ .Get "route" }}</a>
  </div>
{{ else if eq (.Get "route") "Ax" }}
  <div class="route-sign-sm airportexpress{{ with .Get `vertical` }} my-05{{ end }}">
    <a href="/wiki/airport-line" title="Airport Line (Mirai Metro)" class="text-reset text-decoration-none stretched-link">A</a>
  </div>
{{ else if eq (.Get "route") "Ac" }}
  <div class="route-sign-sm airportcomposite{{ with .Get `vertical` }} my-05{{ end }}">
    <a href="/wiki/airport-line" title="Airport Line (Mirai Metro)" class="text-reset text-decoration-none stretched-link">A</a>
  </div>
{{ else if eq (.Get "route") "V" }}
  <div class="route-sign-sm victoryline{{ with .Get `vertical` }} my-05{{ end }}">
    <a href="/wiki/victory-line" title="Victory Line" class="text-reset text-decoration-none stretched-link">{{ .Get "route" }}</a>
  </div>
{{ else if eq (.Get "route") "W" }}
  <div class="route-sign-sm waterfallline{{ with .Get `vertical` }} my-05{{ end }}">
    <a href="/wiki/waterfall-line" title="Waterfall Line" class="text-reset text-decoration-none stretched-link">{{ .Get "route" }}</a>
  </div>
{{ else if eq (.Get "route") "C" }}
  <div class="route-sign-sm cityloopline{{ with .Get `vertical` }} my-05{{ end }}">
    <a href="/wiki/city-loop-line" title="City Loop Line" class="text-reset text-decoration-none stretched-link">{{ .Get "route" }}</a>
  </div>
{{ else if eq (.Get "route") "D" }}
  <div class="route-sign-sm diamondline{{ with .Get `vertical` }} my-05{{ end }}">
    <a href="/wiki/diamond-line" title="Diamond Line" class="text-reset text-decoration-none stretched-link">{{ .Get "route" }}</a>
  </div>
{{ else if eq (.Get "route") "P" }}
  <div class="route-sign-sm pandaexpress{{ with .Get `vertical` }} my-05{{ end }}">
    <a href="/wiki/panda-express" title="Panda Express" class="text-reset text-decoration-none stretched-link">{{ .Get "route" }}</a>
  </div>
{{ else if eq (.Get "route") "S" }}
  <div class="route-sign-sm bigsnowline{{ with .Get `vertical` }} my-05{{ end }}">
    <a href="/wiki/big-snow-line" title="Big Snow Line" class="text-reset text-decoration-none stretched-link">{{ .Get "route" }}</a>
  </div>
{{ end }}
{{- with .Get "vertical" -}}<br>{{- end -}}