{{ range . }}
  {{ if in . "R" }}
    <span class="station-code station-code-rl rounded-circle">{{ . }}</span>
  {{ else if in . "G" }}
    <span class="station-code{{ if eq (len .) 3 }} station-code-dd{{ end }} station-code-gl rounded-circle">{{ . }}</span>
  {{ else if in . "B" }}
    <span class="station-code{{ if eq (len .) 3 }} station-code-dd{{ end }} station-code-bl rounded-circle">{{ . }}</span>
  {{ else if in . "Acomu" }}
    <span class="station-code station-code-al rounded-circle">A{{ slicestr . 5 6 }}</span>
  {{ else if in . "Aex" }}
    <span class="station-code station-code-ax rounded-circle">A{{ slicestr . 3 4 }}</span>
  {{ else if in . "A" }}
    {{ if (or (eq . "A1") (eq . "A4") (eq . "A5")) }}
      <span class="station-code station-code-ac rounded-circle">{{ . }}</span>
    {{ else }}
      <span class="station-code station-code-al rounded-circle">{{ . }}</span>
    {{ end }}
  {{ else if in . "V" }}
    <span class="station-code station-code-vl rounded-circle">{{ . }}</span>
  {{ else if in . "W" }}
    <span class="station-code{{ if eq (len .) 3 }} station-code-dd{{ end }} station-code-wl rounded-circle">{{ . }}</span>
  {{ else if in . "C" }}
    <span class="station-code station-code-cl rounded-circle">{{ . }}</span>
  {{ else if in . "D" }}
    <span class="station-code station-code-dl rounded-circle">{{ . }}</span>
  {{ else if in . "P" }}
    <span class="station-code station-code-pe rounded-circle">{{ . }}</span>
  {{ else if in . "S" }}
    <span class="station-code{{ if eq (len .) 3 }} station-code-dd{{ end }} station-code-bsl rounded-circle">{{ . }}</span>
  {{ else if in . "I" }}
    <span class="station-code station-code-il rounded-circle">{{ . }}</span>
  {{ else if in . "nil" }}
    <span class="station-code station-code-placeholder rounded-circle invisible">XX</span>
  {{ end }}
{{ end }}