<div class="container px-2 d-lg-none" id="route-info-mobile">
  <div class="row row-cols-2 row-cols-md-3 mx-0">
    {{ range .Site.Data.service_status.route }}
    <a href="/route/{{ anchorize .name }}" class="text-decoration-none">
      <div class="col mb-2 px-1">
        {{ if eq .status "Limited" }}
          {{ $.Scratch.Set "status" "alert-warning"  }}
        {{ else if eq .status "No" }}
          {{ $.Scratch.Set "status" "alert-danger"  }}
        {{ else }}
          {{ $.Scratch.Set "status" "alert-success"  }}
        {{ end }}
        <div class="card {{ $.Scratch.Get "status" }} shadow-sm px-25 py-2">
          <div class="media">
            <div class="align-self-center pr-25">
              {{ partial "mm_sign/small.html" (dict "context" . "hover" false "vertical" false) }}
            </div>
            <div class="media-body small align-self-center">
              <span class="alert-links"><i class="fas fa-angle-right">&nbsp;</i>{{ .name }}</span>
            </div>
          </div>
        </div>
      </div>
    </a>
    {{ end }}
  </div>
</div>