{{ with .station_code }}
  {{ range . }}
    {{ if in . "R" }}
      <span class="station-code station-code-sm station-code-rl rounded-circle">{{ . }}</span>
    {{ else if in . "G" }}
      <span class="station-code station-code-sm{{ if eq (len .) 3 }}-dd{{ end }} station-code-gl rounded-circle">{{ . }}</span>
    {{ else if in . "B" }}
      <span class="station-code station-code-sm station-code-bl rounded-circle">{{ . }}</span>
    {{ else if in . "A" }}
      {{ if (or (eq . "A1") (eq . "A4") (eq . "A5")) }}
        <span class="station-code station-code-sm station-code-ac rounded-circle">{{ . }}</span>
      {{ else }}
        <span class="station-code station-code-sm station-code-al rounded-circle">{{ . }}</span>
      {{ end }}
    {{ else if in . "V" }}
      <span class="station-code station-code-sm station-code-vl rounded-circle">{{ . }}</span>
    {{ else if in . "W" }}
      <span class="station-code station-code-sm{{ if eq (len .) 3 }}-dd{{ end }} station-code-wl rounded-circle">{{ . }}</span>
    {{ else if in . "C" }}
      <span class="station-code station-code-sm station-code-cl rounded-circle">{{ . }}</span>
    {{ else if in . "D" }}
      <span class="station-code station-code-sm station-code-dl rounded-circle">{{ . }}</span>
    {{ else if in . "P" }}
      <span class="station-code station-code-sm station-code-pe rounded-circle">{{ . }}</span>
    {{ else if in . "S" }}
      <span class="station-code station-code-sm station-code-sl rounded-circle">{{ . }}</span>
    {{ else if in . "I" }}
      <span class="station-code station-code-sm station-code-il rounded-circle">{{ . }}</span>
    {{ end }}
  {{ end }}
{{ end }}