<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body id="page-top">
  {{ partial "navbar.html" . }}
  <div class="container mb-3">
    {{ block "main" . }}{{ end }}
    {{/*  <div class="row">
      <nav class="col-2 col-xl-3px-lg-0 px-xl-3 d-none d-xl-block bg-light">
        <div class="sidebar-sticky">
          <a href="/wiki" class="text-decoration-none">
            <div class="text-center mb-4">
              <span class="fa-stack fa-3x">
                <i class="far fa-circle fa-stack-2x text-mirai"></i>
                <i class="fas fa-globe fa-stack-1x rotate-350 text-miraimetro"></i>
              </span>
              <br>
              <p class="m-0 mt-2 font-miraimetro text-uppercase text-miraimetro2">
                <span class="h5">Mirai</span> <span class="h5">Metro</span> <span class="h5">Wiki</span>
              </p>
            </div>
          </a>
          <div>
            <ul class="nav flex-column">
              {{ range .Site.Menus.main }}
                <li class="nav-item">
                  <a class="nav-link pt-0 pb-1" href="{{ .URL }}">
                    <i class="{{ .Pre }}"></i>
                    {{ .Name }}
                  </a>
                </li>
              {{ end }}
            </ul>
            {{ if and (eq .Kind "page") (ne .Params.category "special") }}
              <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">Tools</h5>
              <hr class="mt-0 mb-2">
              <ul class="nav flex-column mb-2">
                <li class="nav-item">
                  <a class="nav-link pt-0 pb-1" href="javascript:window.print()">
                    <i class="fas fa-print fa-fw"></i>
                    Print this page
                  </a>
                </li>
                <li class="nav-item">
                  <a role="button" class="nav-link text-primary pt-0 pb-1" data-toggle="modal" data-target="#pageInfo">
                    <i class="fas fa-info-circle fa-fw"></i>
                    Page information
                  </a>
                </li>
              </ul>
            {{ end }}
          </div>
        </div>
      </nav>
      <div class="col mx-lg-1 mt-lg-1 mb-5 px-xl-4">
        {{ block "main" . }}{{ end }}
      </div>
    </div>  */}}
  </div>
  {{ if and (eq .Kind "page") (ne .Params.category "special") }}
    <div class="alert alert-secondary mb-0 py-2 rounded-0" role="alert">
      <div class="container px-1 px-md-3">
        <i class="fas fa-history pr-2"></i>Last updated <a href="#" role="button" class="alert-link text-decoration" data-toggle="modal" data-target="#pageInfo"><span class="render_timeago font-weight-bold" datetime="{{ dateFormat "2006-01-02 15:04:05 UTC" .Lastmod.UTC }}"></span></a><span class="d-none d-md-inline"> on {{ dateFormat "2 January 2006, at 15:04 (MST)" .Lastmod.UTC }}</span>.
      </div>
    </div>
    <div class="modal fade" id="pageInfo" tabindex="-1" role="dialog" aria-labelledby="pageInfoLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title font-weight-bold mb-0" id="pageInfoLabel">Information for "<span class="text-miraimetro">{{ .Page.Title }}</span>"</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <form>
                {{ with .Page }}
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="form-title" class="text-dark font-weight-bold">Display title</label>
                      <input type="text" class="form-control" id="form-title" value="{{ .Title }}" readonly>
                    </div>
                    {{ with .Params.LinkTitle }}
                      <div class="form-group col-md-6">
                        <label for="form-alternate-title" class="text-dark font-weight-bold">Alternate title</label>
                        <input type="text" class="form-control" id="form-alternate-title" value="{{ . }}" readonly>
                      </div>
                    {{ end }}
                    <div class="form-group col-md-6">
                      <label for="form-creation-date" class="text-dark font-weight-bold">Date of page creation</label>
                      {{ $creationDate := dateFormat "15:04, 2 January 2006" .Date.UTC }}
                      <input type="text" class="form-control" id="form-creation-date" value="{{ $creationDate }}" readonly>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="form-last-modify" class="text-dark font-weight-bold">Date of latest edit</label>
                      {{ $lastModDate := dateFormat "15:04, 2 January 2006" .Lastmod.UTC }}
                      <input type="text" class="form-control" id="form-last-modify" value="{{ $lastModDate }}" readonly>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="form-word-count" class="text-dark font-weight-bold">Page length (word count)</label>
                      <input type="text" class="form-control" id="form-word-count" value="{{ lang.NumFmt 0 (.WordCount) }}" readonly>
                    </div>
                    {{ with .Keywords }}
                      <div class="form-group col-md-6">
                        <label for="form-keywords" class="text-dark font-weight-bold">Page keywords</label>
                        <input type="text" class="form-control" id="form-keywords" value="{{ delimit . ", " }}" readonly>
                      </div>
                    {{ end }}
                  </div>
                {{ end }}
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  {{ end }}
  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
</body>
</html>