<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body id="page-top">
  {{ partial "navbar.html" . }}
  <div class="container-fluid px-md-5 px-lg-3">
    <div class="row">
      <nav class="col-2 px-lg-0 px-xl-3 d-none d-xl-block bg-light">
        <div class="sidebar-sticky">
          <a href="/wiki" class="text-decoration-none">
            <div class="text-center mb-4">
              <span class="fa-stack fa-3x">
                <i class="far fa-circle fa-stack-2x text-mirai"></i>
                <i class="fas fa-globe fa-stack-1x rotate-350 text-miraimetro"></i>
              </span>
              <br>
              <p class="m-0 mt-2 font-miraimetro text-uppercase text-miraimetro2">
                <span class="h5">Mirai</span> <span class="h5">Metro</span> <span class="h5">Wiki</span>
              </p>
            </div>
          </a>
          <div>
            <ul class="nav flex-column">
              {{ range .Site.Menus.main }}
                <li class="nav-item">
                  <a class="nav-link py-15" href="{{ .URL }}">
                    <i class="{{ .Pre }}"></i>
                    <span class="pl-1">{{ .Name }}</span>
                  </a>
                </li>
              {{ end }}
            </ul>
            <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">Print/export</h5>
            <hr class="my-0">
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link py-15" href="javascript:window.print()">
                  <i class="fas fa-print fa-fw"></i>
                  Print this page
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="col mx-lg-1 mt-lg-1 mb-5 px-xl-4">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
  </div>
  {{ if and (eq .Kind "page") (ne .Params.category "special") }}
    <div class="alert alert-secondary mb-0 py-2 rounded-0" role="alert">
      <div class="container px-1 px-md-3">
        <i class="fas fa-edit pr-2"></i>Last updated <span class="render_timeago font-weight-bold" datetime="{{ dateFormat "2006-01-02 15:04:05 UTC" .Lastmod.UTC }}"></span><span class="d-none d-md-inline"> on {{ dateFormat "2 January 2006, at 15:04 (MST)" .Lastmod.UTC }}</span>.
      </div>
    </div>
  {{ end }}
  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
</body>
</html>