#table-of-contents {
  width: fit-content;
}

#table-of-contents #contents {
  font-size: 95%;
}

#table-of-contents ol {
  list-style: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

#table-of-contents ol li {
  counter-increment: item;
  padding: 0.2rem;
}

#table-of-contents ol li:before {
  content: counters(item, ".") "";
  padding-right: 0.5rem;
  display: inline-block;
}

#table-of-contents ol li ol {
  padding-left: 15px;
}

section {
  padding-top: 2rem;
}

section hr {
  margin: 0;
}

section section {
  padding-top: 2rem;
}

@media (min-width: 992px) {
  section {
    padding-top: 3rem;
  }

  #infobar {
    max-width: 340px;
  }
}

#infobar {
  min-width: 320px;
}

#infobar p,
.side-table,
.table-wiki-bottom {
  font-size: 0.875rem;
}

.wiki-title,
#wiki-content h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#wiki-content h5 {
  font-weight: bold;
}

#wiki-content hr {
  margin: 0 auto 1.5rem;
}

.wiki-home-header {
  max-width: 320px;
}

.bg-mrr {
  background-color: #8f0000;
}

#infobar #line-title-bl {
  border-top: 4px solid #0433ff;
  border-bottom: 4px solid #0433ff;
}

#infobar #line-title-mrr1 {
  border-top: 4px solid #008080;
  border-bottom: 4px solid #008080;
}

#infobar #line-title-mrr2 {
  border-top: 4px solid #a0522d;
  border-bottom: 4px solid #a0522d;
}

.btn-showhide {
  min-width: 50px;
}

.btn-showhide:before {
  content: "[";
  color: black;
}

.btn-showhide:after {
  content: "]";
  color: black;
}

#btn-chevronupdown:after {
  font-family: "Font Awesome 5 Free";
  content: "\f077";
  float: right;
}

#btn-chevronupdown.collapsed:after {
  content: "\f078";
}

.list-horizontal li {
  display: inline-block;
}

.list-horizontal li:before {
  content: "\00a0\2022\00a0";
  color: #999;
  color: rgba(0, 0, 0, 0.5);
  font-size: 11pt;
}

#contents.collapsing,
#quickfacts.collapsing,
#wiki-bottom-table.collapsing {
  transition: unset !important;
}

table {
  font-size: 11pt;
  color: black;
}

/* table thead th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
} */

#wiki-content h6 {
  font-size: 1.0625rem;
}
