{{ define "main" }}
  <div class="container pt-5">
    {{ partial "header.html" . }}
    <h4 class="pt-5 pb-3 font-weight-bold text-center" id="operating_lines">Operating Lines</h4>
  </div>
  {{ partial "route/operating_lines/mobile.html" . }}
  {{ partial "route/operating_lines/regular.html" . }}
  <div class="container py-5 text-center">
    <h4 class="pt-4 pb-3 font-weight-bold" id="about_station_code">About Station Code</h4>
    <p class="text-left">Station code is consist of a letter representing the metro line and a number for the station. They are circled with a color that represents the metro line making it easy to find your station.</p>
    <p class="lead pt-2 font-weight-bold mb-2">Overview</p>
    <div class="row text-left">
      <div class="col-12 col-lg-5">
        <div class="border border-miraimetro2 py-5 text-center w-90 mx-auto">
          <span class="station-code station-code-xl station-code-rl rounded-circle">R2</span>
          <span class="station-code station-code-xl station-code-bl rounded-circle">B5</span>
        </div>
      </div>
      <div class="col-12 col-lg-7 pt-2 pt-lg-4">
        <ul>
          <li>
            The alphabet letter represents the metro line name.
          </li>
          <li>
            The number represents the station number of the metro line.
          </li>
          <li>
            A single station may have multiple designated station codes of different lines.
          </li>
          <li>
            Station code are circled with a color that represents the metro line.
          </li>
        </ul>
      </div>
    </div>
    <div class="row pt-3 pt-lg-5">
      <div class="col-12 col-lg">
        <p class="lead font-weight-bold mb-2">Why using?</p>
        <ul class="text-left">
          <li>It is easy to know the station code for the metro line of your desired station.</li>
          <li>It is easy to know the number of stations until your desired or transfer station.</li>
          <li>It is easy to remember or search for your desired station instead of remembering station names.</li>
        </ul>
      </div>
      <div class="col-12 col-lg">
        <p class="lead font-weight-bold mb-2">Where to find?</p>
        <p>Station codes are displayed alongside station names on station banner.</p>
        <div class="station-banner shadow-none mx-auto w-90">
          <div class="mb-2">
            <span class="station-code station-code-sm station-code-gl rounded-circle">G7</span>
            <span class="station-code station-code-sm station-code-vl rounded-circle">V2</span>
          </div>
          <h4 class="station-name-en mb-0">Bottomvalley</h4>
          <h5 class="station-name-zh mb-0">谷底</h5>
        </div>
      </div>
    </div>
  </div>
{{ end }}