<div class="jumbotron bg-miraimetro text-white {{ if ne .Section "wiki" }}mt-5{{ end }} mb-0 pt-5" id="footer">
  <div class="container">
    <h5 class="font-weight-bold mb-2">Service Status</h5>
    <div class="row">
      {{ range .Site.Data.service_status.route }}
        <div class="col-4 col-md-2 text-center p-1 d-inline-flex">
          <a href="/route/{{ anchorize .name }}" class="btn btn-light border w-100 px-0 py-4 pb-lg-3"
            role="button">
            {{ partial "route_sign/small.html" (dict "context" . "hover" false "vertical" false) }}
            <p class="small text-miraimetro mt-1 mb-0">{{ .name }}<span class="d-none d-lg-inline"><br>{{ .name_zh }}</span></p>
            <hr class="d-none d-lg-block" />
            {{ if eq .status "Limited" }}
              <i class="fas fa-circle fa-xs text-warning d-none d-lg-inline"></i>
            {{ else if eq .status "No" }}
              <i class="fas fa-circle fa-xs text-danger d-none d-lg-inline"></i>
            {{ else }}
              <i class="fas fa-circle fa-xs text-success d-none d-lg-inline"></i>
            {{ end }}
            <span class="small text-miraimetro mb-0 d-none d-lg-inline">{{ .status }} service</span>
          </a>
        </div>
      {{ end }}
    </div>
    <div class="row align-items-end">
      <div class="col-12 col-lg-6">
        <p class="small mb-0 pt-2 d-none d-lg-block"><span class="datetime"></span>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-sync-alt fa-sm"></i><a href="javascript:history.go(0)" class="text-light">&nbsp;Update Status</a></p>
      </div>
      <div class="col-12 col-lg-6 pt-3 pt-lg-0">
        <p class="small mb-0 pt-2 d-none d-lg-block text-right">
          <a role="button" class="text-light" data-toggle="modal" data-target="#statusLegend">Legend</a>
        </p>
      </div>
    </div>
  </div>
  <div class="container pt-45 pb-3">
    <div class="row align-items-end">
      <div class="col-12 col-lg-6">
        <ul class="list-inline">
          <li class="list-inline-item">
            <small>&#x25B8; <a href="/about" class="text-light">About</a></small>
          </li>
          <li class="list-inline-item">
            <small>&#x25B8; <a href="/guide" class="text-light">Travel Guide</a></small>
          </li>
          <li class="list-inline-item">
            <small>&#x25B8; <a href="/news" class="text-light">News</a></small>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-6 pt-3 pt-lg-0">
        {{ .Scratch.Set "siteInfoCreatedYear" (printf `%s–%s` (dateFormat "2006" (time .Site.Params.siteCreatedTime)) (now.Format "2006")) }}
        <p class="small text-right">&copy;&nbsp;{{ .Scratch.Get "siteInfoCreatedYear" }}&nbsp;{{ .Site.Copyright }}</p>
      </div>
    </div>
  </div>
  <div class="d-block position-absolute" id="moving-minecart">
    <img src="/img/minecart.png" alt="minecart">
  </div>
</div>
<div class="modal fade" id="statusLegend" tabindex="-1" role="dialog" aria-labelledby="statusLegendLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold mb-0" id="statusLegendLabel">LEGEND</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
        <table class="table table-borderless table-striped mb-0">
          {{ range .Site.Data.service_status.legend }}
            <tr>
              <th scope="row" class="text-center w-30 align-middle">
                {{ if eq .name "Limited" }}
                  <i class="fas fa-circle fa-lg text-warning"></i>
                {{ else if eq .name "No" }}
                  <i class="fas fa-circle fa-lg text-danger"></i>
                {{ else }}
                  <i class="fas fa-circle fa-lg text-success"></i>
                {{ end }}
              </th>
              <td class="w-70">
                <span class="font-weight-bold">{{ .name }} service</span><br>
                <small class="text-secondary">{{ .description }}</small>
              </td>
            </tr>
          {{ end }}
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Scroll Top Button-->
<a href="#page-top" class="text-mirai js-scroll-trigger" id="btn-scroll-top">
  <span class="fa-stack fa-1x">
    <i class="fas fa-circle fa-stack-2x"></i>
    <i class="fas fa-chevron-up fa-stack-1x text-white"></i>
  </span>
</a>