<h1 class="font-weight-bold text-center">{{ .Title }}</h1>
{{ if .Description }}
  <hr>
  <p class="text-center">{{ .Description }}</p>
{{ else if .Params.submenu }}
  <nav class="d-none d-md-block" aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent d-flex justify-content-center pt-4">
      {{ range .Params.submenu }}
        <li class="breadcrumb-item">
          <i class="fas fa-angle-down d-inline lh-15"></i><a class="js-scroll-trigger d-inline pl-2"
            href="{{ . }}">{{ trim (humanize .) "#" | title }}</a>
        </li>
      {{ end }}
    </ol>
  </nav>
  <hr>
{{ else }}
  <hr>
{{ end }}