{{/*  jQuery  */}}
{{ $jQuery := "/js/jquery-3.5.1.min.js" | absURL }}
<script src="{{ $jQuery }}"></script>
{{/*jQuery Easing Plugin */}}
{{ $easing := "js/jquery.easing.min.js" | absURL }}
<script src="{{ $easing }}"></script>
{{/*  Bootstrap JS  */}}
{{ $bootstrap := "/js/bootstrap.bundle.min.js" | absURL }}
{{/*  {{ $bootstrap := resources.Get "" }}  */}}
<script src="{{ $bootstrap }}"></script>
{{/*  Custom JS  */}}
{{ $mainScript := resources.Get "/js/main.js" | minify }}
<script src="{{ $mainScript.Permalink }}"></script>
{{ if .IsHome }}
  {{ $homeScript := resources.Get "/js/home.js" | minify }}
  <script src="{{ $homeScript.Permalink }}"></script>
{{ end }}
{{ if and (eq .Section "station") (eq .Title "Stations") }}
  <script>
    $("#searchInput").on("keyup", function () { var value = $(this).val().toLowerCase(); $("#stationTable tr").filter(function () { $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1) }) })
  </script>
{{ end }}
{{ if eq .Section "wiki" }}
  {{ if and (eq .Kind "page") (ne .Params.category "special") }}
    {{ $timeago := "/js/timeago.min.js" | absURL }}
    <script src="{{ $timeago }}"></script>
    <script>
      function init_index_page() {
        var locale = navigator.language.replace('-', '_');
        timeago.render(document.querySelectorAll('.render_timeago'), locale);
      }
      init_index_page();
    </script>
  {{ end }}
{{ end }}