{{ define "main" }}
  <div class="container-fluid py-5 text-center bg-miraimetro text-light" id="home-banner">
    <div class="container" id="home-banner-container">
      <h1 class="display-5 display-lg-4 font-weight-bold mb-0 pb-45">Welcome to Mirai Metro</h1>
      <h5 class="font-weight-bold m-0 py-4">
        <span class="invisible" id="currentTime">7 June 2015&nbsp;&nbsp;&nbsp;&nbsp;15:08:11</span>
      </h5>
      <div class="pb-4">
        <div class="d-inline-block align-middle mr-3" style="width: 60px;">
          <i id="weather-logo"></i>
        </div>
        <div class="d-inline-block align-middle" id="weather-description">
          <h4 class="font-weight-bold mb-0">
            <span class="invisible" id="tempC">00</span><sup><span class="font-weight-light">&deg;</span>C</sup>
            /
            <span class="invisible" id="tempF">00</span><sup><span class="font-weight-light">&deg;</span>F</sup>
          </h4>
          <h5 class="font-weight-bold mb-0">Mirai</h5>
        </div>
      </div>
      <div>
        <h5 class="pt-45 font-weight-bold">Popular Stations</h5>
        <div class="nav-scroller">
          <nav class="nav nav-justified">
            {{ range where .Site.Pages.ByTitle "Section" "station" }}
              {{ with .Params }}
                {{ if .popular }}
                  <a class="nav-link text-light px-1 px-md-2 px-lg-3" href="/station/{{ anchorize .station_name_en }}">
                    <span class="fa-stack fa-2x">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fas fa-subway fa-stack-1x text-mirai"></i>
                    </span>
                    <p class="small font-weight-bold mb-0 pt-1">{{ .station_name_en }}</p>
                  </a>
                {{ end }}
              {{ end }}
            {{ end }}
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    {{ with .Params.alert }}
      {{ range . }}
        <div class="alert alert-warning border border-warning text-center rounded py-1 d-none d-md-block w-90 mx-auto" role="alert">
          <span class="fa-stack fa-2x align-middle">
            <i class="fas fa-certificate fa-stack-2x text-danger"></i>
            <i class="fas fa-bullhorn fa-stack-1x fa-inverse rotate-350"></i>
          </span>
          <div class="d-inline-block align-middle text-left">
            {{ with .line_1 }}
              <p class="mb-0">
                {{ markdownify . }}
              </p>
            {{ end }}
            {{ with .line_2 }}
              <small>{{ markdownify . }}</small>
            {{ end }}
          </div>
        </div>
      {{ end }}
    {{ end }}
    <div class="row justify-content-center py-md-3 text-center">
      {{ range after 1 .Site.Menus.main }}
        <div class="col-6 col-md-4 p-1 p-md-2 p-lg-3">
          <a href="{{ .URL }}" class="btn btn-light py-4 w-100 text-miraimetro" style="border-radius: .5rem;" role="button">
            <div class="d-lg-none">
              <span class="fa-stack fa-3x">
                <i class="far fa-circle fa-stack-2x text-mirai"></i>
                <i class="{{ .Pre }} fa-stack-1x"></i>
              </span>
            </div>
            <div class="d-none d-lg-block">
              <span class="fa-stack fa-5x">
                <i class="far fa-circle fa-stack-2x text-mirai"></i>
                <i class="{{ .Pre }} fa-stack-1x"></i>
              </span>
            </div>
            <p class="h6 font-weight-bold mb-0 pt-2 pt-lg-3">{{ .Name }}</p>
          </a>
        </div>
      {{ end }}
    </div>
  </div>
  <article class="bg-light my-4 py-5">
    <div class="container">
      <div class="text-right">
        <i class="fas fa-angle-right text-miraimetro">&nbsp;</i><a href="/news">View all</a>
      </div>
      <h4 class="text-center font-weight-bold">News</h4>
      <div class="row mx-0">
        <div class="col-12 col-lg-8">
          <table class="table table-borderless">
            <tbody>
              {{ range first 3 (where .Site.RegularPages "Section" "==" "news").ByDate.Reverse }}
                <tr class="row border-bottom">
                  <td class="col-4 text-right">{{ dateFormat "2 Jan 2006" .Date }}</td>
                  <td class="col-8">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                  </td>
                </tr>
              {{ end }}
            </tbody>
          </table>
        </div>
        <div class="col-12 col-lg-4">
          <div class="container">
            <img src="/img/0.jpg" class="img-fluid">
            <a href="#" class="text-light stretched-link" data-toggle="modal" data-target="#videoModal" data-video="https://www.youtube-nocookie.com/embed/xlLCQwqAg7k">
              <i class="far fa-play-circle fa-3x" id="play-button"></i>
            </a>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="videoModal" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-body mb-0 p-0">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe allowfullscreen autoplay class="embed-responsive-item"
                      src=""></iframe>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-outline-danger btn-rounded btn-md ml-4 text-center closing" data-dismiss="modal"
                    type="button">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
{{ end }}