{{ define "main" }}
  {{ partial "breadcrumb.html" . }}
  <div>
    <h3 class="wiki-title mb-1">{{ .Title }}</h3>
  </div>
  <hr class="mt-0">
  <table class="table table-sm table-bordered" style="max-width: 500px;">
    <tr class="thead-light">
      <th colspan="2" class="text-center">Mirai Metro statistics</th>
    </tr>
    <tr>
      <td>Routes / lines</td>
      <td class="text-right">{{ len (where .Site.RegularPages "Section" "==" "route") }}</td>
    </tr>
    <tr>
      <td>Stations</td>
      <td class="text-right">{{ len (where .Site.RegularPages "Section" "==" "station") }}</td>
    </tr>
    <tr class="thead-light">
      <th colspan="2" class="text-center">Page statistics</th>
    </tr>
    <tr>
      <td>
        <a href="../all-pages">Content pages</a>
      </td>
      <td class="text-right">{{ len (where (where .Site.RegularPages "Section" "==" "wiki") ".Params.category" "!=" "special") }}</td>
    </tr>
    <tr>
      <td>
        <a href="../all-pages">Pages</a>
        <br><small>(All pages in this site including non-wiki pages)</small>
      </td>
      <td class="text-right">{{ len .Site.Pages }}</td>
    </tr>
    <tr class="thead-light">
      <th colspan="2" class="text-center">Other statistics</th>
    </tr>
    <tr>
      <td>Words in all content pages</td>
      <td class="text-right">
        {{ range where (where .Site.RegularPages "Section" "==" "wiki") ".Params.category" "!=" "special" }}
          {{ $.Scratch.Add "count" .WordCount }}
        {{ end }}
        {{ lang.NumFmt 0 ($.Scratch.Get "count") }}
        {{ $.Scratch.Delete "count" }}
      </td>
    </tr>
    <tr>
      <td>Average words per content page</td>
      <td class="text-right">
        {{ range where .Site.RegularPages "Section" "==" "wiki" }}
          {{ $.Scratch.Add "count" .WordCount }}
        {{ end }}
        {{ lang.NumFmt 2 (div ($.Scratch.Get "count") (len (where (where .Site.RegularPages "Section" "==" "wiki") ".Params.category" "!=" "special") | float)) }}
        {{ $.Scratch.Delete "count" }}
      </td>
    </tr>
  </table>
{{ end }}