{{ define "main" }}
  <div class="container pt-5">
    {{ partial "header.html" . }}
    <h4 class="pt-5 pb-3 font-weight-bold text-center" id="popular_stations">Popular Stations</h4>
    <div class="row text-center mx-xl-0 mb-3" id="popular-stations">
      {{ range .Pages.ByTitle }}
        {{ with .Params }}
          {{ if .popular }}
            <div class="col-12 col-md-6 col-xl-4 my-2 p-xl-0 pr-xl-3">
              <a href="/station/{{ anchorize .station_name_en }}" class="text-dark">
                <div class="station-banner text-center mx-auto shadow-none pb-0">
                  <div class="mb-1">
                    {{ partial "station_code/small/horizontal.html" . }}
                  </div>
                  <h4 class="station-name-en mb-0">{{ .station_name_en }}</h4>
                  <h5 class="station-name-zh mb-0">{{ .station_name_zh }}</h5>
                  <i class="fas fa-link fa-xs text-muted text-right d-block pr-3 pt-3"></i>
                </div>
              </a>
            </div>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
    <h4 class="pt-5 pb-3 font-weight-bold text-center" id="list_of_mirai_metro_stations">List of Mirai Metro Stations</h4>
    <p>List of {{ len (where .Site.RegularPages "Section" "==" "station") }} stations on Mirai Metro, including station code, lines serving the station, connections to other public transportation, and location.</p>
    <div class="form-group searchBar">
      <span class="fa fa-search form-control-feedback"></span>
      <input class="form-control" id="searchInput" type="text" placeholder="Filter stations by entering station name, code, or location" autocomplete="off">
    </div>
    <div class="table-responsive">
      <table class="table table-bordered table-800 mb-0">
        <thead class="thead-light">
          <tr>
            <th>Station Code<br><small>車站編號</small></th>
            <th>Station Name<br><small>車站名稱</small></th>
            <th class="text-center">Line<br><small>路綫</small></th>
            <th>Alternate Station Name<br><small>副站名</small></th>
            <th>District<br><small>所在地</small></th>
          </tr>
        </thead>
        <tbody id="stationTable">
          {{ range .Pages.ByTitle }}
            {{ with .Params }}
              <tr>
                <td>
                  {{ partial "station_code/small/horizontal.html" . }}
                </td>
                <td>
                  <a href="/station/{{ anchorize .station_name_en }}">
                    {{ .station_name_en }}<br><span class="small text-dark">{{ plainify .station_name_zh }}</span>
                  </a>
                </td>
                <td class="text-center">
                  {{ partial "route_sign/small.html" (dict "context" . "hover" true "vertical" true "data_placement" "right") }}
                </td>
                <td>
                  {{ .alternate_station_name_en }}<br><small>{{ .alternate_station_name_zh }}</small>
                </td>
                <td>{{ .district_en }}<br><small>{{ .district_zh }}</small></td>
              </tr>
            {{ end }}
          {{ end }}
        </tbody>
        <thead class="thead-light">
          <tr>
            <th>Station Code<br><small>車站編號</small></th>
            <th>Station Name<br><small>車站名稱</small></th>
            <th class="text-center">Line<br><small>路綫</small></th>
            <th>Alternate Station Name<br><small>副站名</small></th>
            <th>District<br><small>所在地</small></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
{{ end }}