{{ define "main" }}
  <div class="container">
    {{ partial "breadcrumb.html" . }}
  </div>
  {{ with .Params }}
    {{ partial "station-jumbotron.html" . }}
    <div class="container small">
      <ul class="nav nav-pills nav-fill nav-justified border font-weight-bold mb-2">
        <li class="nav-item pill">
          <a class="nav-link active rounded-0 py-3" data-toggle="tab" href="#adjacent_stations">Adjacent stations</a>
        </li>
        {{ if .connecting_station }}
          <li class="nav-item pill border-left border-right">
            <a class="nav-link rounded-0 py-3" data-toggle="tab" href="#connecting_station">Connecting station</a>
          </li>
        {{ end }}
        <li class="nav-item pill">
          <a class="nav-link rounded-0 py-3" data-toggle="tab" href="#information">Station information</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="adjacent_stations" class="tab-pane fade show active text-center">
          {{ range .adjacent_stations }}
            <div class="row border mx-0 mb-2 py-3 align-items-center">
              <div class="col-3">
                {{ with .preceding }}
                  {{ range . }}
                    {{ $stastr := split .station "-" }}
                    <a href="/station/{{ index $stastr 1 | anchorize }}">
                      <span>{{ index $stastr 0 }}</span>
                      <p class="mb-0">{{ index $stastr 1 }}</p>
                    </a>
                  {{ end }}
                {{ end }}
              </div>
              <div class="col-2">
                {{ with .preceding }}
                  {{ range . }}
                    <i class="fas fa-arrow-left fa-sm text-dark"></i>
                    <div class="hide-on-mobile">
                      <small class="text-dark">
                        {{ with .towards }}
                          <i>towards</i>
                          <br>
                          <a href="/station/{{ anchorize . }}">{{ . }}</a>
                        {{ end }}
                        {{ with .next }}
                          <i>Next<br>{{ . }}</i>
                        {{ end }}
                      </small>
                    </div>
                  {{ end }}
                {{ end }}
              </div>
              <div class="col-2">
                {{ if .mm_sign }}
                  {{ partial "mm_sign/small.html" (dict "context" . "hover" true "vertical" false) }}
                {{ end }}
              </div>
              <div class="col-2">
                {{ with .following }}
                  {{ range . }}
                    <i class="fas fa-arrow-right fa-sm text-dark"></i>
                    <div class="hide-on-mobile">
                      <small class="text-dark">
                        {{ with .towards }}
                          <i>towards</i>
                          <br>
                          <a href="/station/{{ anchorize . }}">{{ . }}</a>
                        {{ end }}
                        {{ with .next }}
                          <i>Next<br>{{ . }}</i>
                        {{ end }}
                      </small>
                    </div>
                  {{ end }}
                {{ end }}
              </div>
              <div class="col-3">
                {{ with .following }}
                  {{ range . }}
                    {{ $stastr := split .station "-" }}
                    <a href="/station/{{ index $stastr 1 | anchorize }}">
                      <span>{{ index $stastr 0 }}</span>
                      <p class="mb-0">{{ index $stastr 1 }}</p>
                    </a>
                  {{ end }}
                {{ end }}
              </div>
              <div class="col-12 mt-2">
                {{ $rs := .mm_sign }}
                {{ range $.Site.Data.service_status.route }}
                  {{ if eq .mm_sign $rs }}
                    <small>
                      {{ if eq .status "Limited" }}
                        <i class="fas fa-circle text-warning"></i>
                      {{ else if eq .status "No" }}
                        <i class="fas fa-circle text-danger"></i>
                      {{ else }}
                        <i class="fas fa-circle text-success"></i>
                      {{ end }}
                      {{ .status }} service
                    </small>
                  {{ end }}
                {{ end }}
                {{ if (or (in $rs "A") (in $rs "Ax")) }}
                  {{ range $.Site.Data.service_status.airport }}
                    <small>
                      {{ if eq .status "Limited" }}
                        <i class="fas fa-circle text-warning"></i>
                      {{ else if eq .status "No" }}
                        <i class="fas fa-circle text-danger"></i>
                      {{ else }}
                        <i class="fas fa-circle text-success"></i>
                      {{ end }}
                      {{ .status }} service
                    </small>
                  {{ end }}
                {{ end }}
              </div>
            </div>
          {{ end }}
        </div>
        {{ with .connecting_station }}
          {{ range . }}
            <div id="connecting_station" class="tab-pane fade text-center">
              <div class="row border mx-0 mb-2 py-3">
                <div class="col-12">
                  <p class="font-weight-bold mb-2">Walking distance to<br>&#x25B8; <a href="/station/{{ anchorize .station }}">{{ .station }}</a></p>
                  <p class="mb-2">Available transfers:</p>
                  {{ partial "mm_sign/small.html" (dict "context" . "hover" true "vertical" false) }}
                </div>
              </div>
            </div>
          {{ end }}
        {{ end }}
        <div id="information" class="tab-pane fade">
          <table class="table table-bordered border">
            {{ if .alternate_station_name_en }}
              <tr>
                <th scope="col" class="bg-light w-40 text-center align-middle">Alternate name</th>
                <td class="w-60">
                  {{ .alternate_station_name_en }}<br>{{ .alternate_station_name_zh }}
                </td>
              </tr>
            {{ end }}
            <tr>
              <th scope="col" class="bg-light w-40 text-center align-middle">Address</th>
              <td class="w-60">
                <address class="mb-0">
                  <b>{{ .Title }}</b><br>
                  {{ with .address }}{{ delimit . "<br>" }}{{ end }}
                </address>
              </td>
            </tr>
            <tr>
              {{ with .coordinate }}
                <th scope="col" class="bg-light w-40 text-center align-middle">
                  {{ if gt . 1 }}
                    {{ "Coordinate" | pluralize }}
                  {{ else }}
                    Coordinate
                  {{ end }}
                </th>
                <td class="w-60">
                  {{ range . }}
                    <div class="mb-1">
                      &#x25B8;&nbsp;{{ partial "mm_sign/small.html" (dict "context" . "hover" true "vertical" false "data_placement" "left") }}
                      &nbsp;<span class="text-monospace">XYZ:&nbsp;{{ delimit .xyz ", " }}</span>
                    </div>
                  {{ end }}
                </td>
              {{ end }}
            </tr>
            <tr>
              {{ with .nearby_attraction }}
                <th scope="col" class="bg-light w-40 text-center align-middle">
                  {{ if gt . 1 }}
                    {{ "Nearby attraction" | pluralize }}
                  {{ else }}
                    Nearby attraction
                  {{ end }}
                </th>
                <td class="w-60">
                  {{ range . }}
                    &#x25B8;&nbsp;{{ . }}<br>
                  {{ end }}
                </td>
              {{ end }}
            </tr>
            <tr>
              <th scope="col" class="bg-light w-40 text-center align-middle">Wiki</th>
              <td>{{ .Params.Permalink }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}