{{ define "main" }}
  <div class="container">
    {{ partial "breadcrumb.html" . }}
  </div>
  {{ with .Params }}
    {{ partial "station_jumbotron.html" . }}
    <div class="container small">
      <ul class="nav nav-pills nav-fill nav-justified border font-weight-bold mb-2">
        <li class="nav-item pill">
          <a class="nav-link active rounded-0 py-3" data-toggle="tab" href="#adjacent_station">Adjacent Station</a>
        </li>
        {{ if .connecting_station }}
          <li class="nav-item pill border-left border-right">
            <a class="nav-link rounded-0 py-3" data-toggle="tab" href="#connecting_station">Connecting Station</a>
          </li>
        {{ end }}
        <li class="nav-item pill">
          <a class="nav-link rounded-0 py-3" data-toggle="tab" href="#information">Station Information</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="adjacent_station" class="tab-pane fade show active text-center">
          {{ range .route_sign }}
          
            <div class="row border mx-0 mb-2 py-3 align-items-center">
              <div class="col-3"></div>
              <div class="col-2">
                <i class="fas fa-arrow-left fa-sm text-miraimetro2"></i>
                <div class="hide-on-mobile">
                  <small>
                    <i>towards</i>
                    <br>
                    <a href="Victory_Bay">Victory Bay</a>
                  </small>
                </div>
              </div>
              <div class="col-2">
                {{ partial "route_sign/small.html" $.Params }}
              </div>
              <div class="col-2"></div>
              <div class="col-3"></div>
              <div class="col-12 mt-2"></div>
            </div>
          {{ end }}
        </div>
        {{ if .connecting_station }}

        {{ end }}
        <div id="information" class="tab-pane fade">
          <table class="table table-bordered border">
            {{ if .alternate_station_name_en }}
              <tr>
                <th scope="col" class="bg-light w-40 text-center align-middle">Alternate name</th>
                <td class="w-60">
                  {{ .alternate_station_name_en }}<br>{{ .alternate_station_name_zh }}
                </td>
              </tr>
            {{ end }}
            <tr>
              <th scope="col" class="bg-light w-40 text-center align-middle">Address</th>
              <td class="w-60">
                <address class="mb-0">
                  <b>{{ .Title }}</b><br>
                  {{ with .address }}{{ delimit . "<br>" }}{{ end }}
                </address>
              </td>
            </tr>
            <tr>
              {{ with .nearby_attraction }}
                <th scope="col" class="bg-light w-40 text-center align-middle">
                  {{ if gt . 1 }}
                    {{ "Nearby attraction" | pluralize }}
                  {{ else }}
                    Nearby attraction
                  {{ end }}
                </th>
                <td class="w-60">
                  &#x25B8;&nbsp;{{ delimit . "<br>&#x25B8;&nbsp;"}}
                </td>
              {{ end }}
            </tr>
          </table>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}