<div class="container px-2 d-lg-none" id="route-info-mobile">
  <div class="row mx-0 border">
    <div class="col-3 col-sm-2 px-0">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a href="#v-pills-redline" class="nav-link px-0 py-2 active btn btn-light btn-sm rounded-0 border-right border-bottom" role="tab" data-toggle="pill" aria-controls="v-pills-redline" aria-selected="true">
          <div class="route-sign-sm redline mb-1">&nbsp;R&nbsp;</div>
          <p class="small text-miraimetro m-0 lh-13"><b>Red Line</b><br>紅綫</p>
        </a>
        <a href="#v-pills-greenline" class="nav-link px-0 py-2 btn btn-light btn-sm rounded-0 border-right border-bottom" role="tab" data-toggle="pill" aria-controls="v-pills-greenline" aria-selected="false">
          <div class="route-sign-sm greenline mb-1">&nbsp;G&nbsp;</div>
          <p class="small text-miraimetro m-0 lh-13"><b>Green Line</b><br>綠綫</p>
        </a>
        <a href="#v-pills-blueline" class="nav-link px-0 py-2 btn btn-light btn-sm rounded-0 border-right border-bottom" role="tab" data-toggle="pill"
          aria-controls="v-pills-blueline" aria-selected="false">
          <div class="route-sign-sm blueline mb-1">&nbsp;B&nbsp;</div>
          <p class="small text-miraimetro m-0 lh-13"><b>Blue Line</b><br>藍綫</p>
        </a>
        <a href="#v-pills-airportline" class="nav-link px-0 py-2 btn btn-light btn-sm rounded-0 border-right border-bottom" role="tab" data-toggle="pill"
          aria-controls="v-pills-airportline" aria-selected="false">
          <div class="route-sign-sm airportcomposite mb-1">&nbsp;A&nbsp;</div>
          <p class="small text-miraimetro m-0 lh-13"><b>Airport Line</b><br>空港綫</p>
        </a>
        <a href="#v-pills-victoryline" class="nav-link px-0 py-2 btn btn-light btn-sm rounded-0 border-right border-bottom" role="tab" data-toggle="pill"
          aria-controls="v-pills-victoryline" aria-selected="false">
          <div class="route-sign-sm victoryline mb-1">&nbsp;V&nbsp;</div>
          <p class="small text-miraimetro m-0 lh-13"><b>Victory Line</b><br>勝利綫</p>
        </a>
        <a href="#v-pills-waterfallline" class="nav-link px-0 py-2 btn btn-light btn-sm rounded-0 border-right border-bottom" role="tab" data-toggle="pill"
          aria-controls="v-pills-waterfallline" aria-selected="false">
          <div class="route-sign-sm waterfallline mb-1">&nbsp;W&nbsp;</div>
          <p class="small text-miraimetro m-0 lh-13"><b>Waterfall Line</b><br>瀑布綫</p>
        </a>
        <a href="#v-pills-cityloopline" class="nav-link px-0 py-2 btn btn-light btn-sm rounded-0 border-right border-bottom" role="tab" data-toggle="pill"
          aria-controls="v-pills-cityloopline" aria-selected="false">
          <div class="route-sign-sm cityloopline mb-1">&nbsp;C&nbsp;</div>
          <p class="small text-miraimetro m-0 lh-13"><b>City Loop Line</b><br>三環綫</p>
        </a>
        <a href="#v-pills-diamondline" class="nav-link px-0 py-2 btn btn-light btn-sm rounded-0 border-right border-bottom" role="tab" data-toggle="pill"
          aria-controls="v-pills-diamondline" aria-selected="false">
          <div class="route-sign-sm diamondline mb-1">&nbsp;D&nbsp;</div>
          <p class="small text-miraimetro m-0 lh-13"><b>Diamond Line</b><br>鑽石綫</p>
        </a>
        <a href="#v-pills-pandaexpress" class="nav-link px-0 py-2 btn btn-light btn-sm rounded-0 border-right disabled" role="tab"
          data-toggle="pill" aria-controls="v-pills-pandaexpress" aria-selected="false">
          <div class="route-sign-sm pandaexpress mb-1">&nbsp;P&nbsp;</div>
          <p class="small text-miraimetro m-0 lh-13"><b>Panda Express</b><br>熊貓快綫</p>
        </a>
      </div>
    </div>
    <div class="col-9 col-sm-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-redline" role="tabpanel" aria-labelledby="v-pills-redline-tab">
          <div class="py-3 border-bottom">
            <p class="d-inline font-weight-bold m-0">Red Line 紅綫</p>
            <p class="small m-0">&#x25B8;&nbsp;<a href="/line/Red_Line">More information</a></p>
          </div>
          <table class="small mt-3">
            <tr>
              <th scope="row" class="station-code-vlist-first station-code-bg-rl px-2 py-25">
                <span class="station-code station-code-sm station-code-rl rounded-circle">R1</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Fhoenix_Hill">Fhoenix Hill<br><small class="station-name-zh-vlist-pl">飛力士山</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-rl px-2"py-25 >
                <span class="station-code station-code-sm station-code-rl rounded-circle">R2</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Paradise_Falls">Paradise Falls<br><small class="station-name-zh-vlist-pl">仙境瀑布</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-rl px-2"py-25 >
                <span class="station-code station-code-sm station-code-rl rounded-circle">R3</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Under_the_Falls">Under the Falls<br><small class="station-name-zh-vlist-pl">瀑布下</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-rl px-2"py-25 >
                <span class="station-code station-code-sm station-code-rl rounded-circle">R4</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Downtown_Core">Downtown Core<br><small class="station-name-zh-vlist-pl">市中心</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-last station-code-bg-rl px-2"py-25 >
                <span class="station-code station-code-sm station-code-rl rounded-circle">R5</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Portal_Hill">Portal Hill<br><small class="station-name-zh-vlist-pl">波打山</small></a></td>
            </tr>
          </table>
        </div>
        <div class="tab-pane fade" id="v-pills-greenline" role="tabpanel" aria-labelledby="v-pills-greenline-tab">
          <div class="py-3 border-bottom">
            <p class="d-inline font-weight-bold m-0">Green Line 綠綫</p>
            <p class="small m-0">&#x25B8;&nbsp;<a href="/line/Green_Line">More information</a></p>
          </div>
          <table class="small mt-3">
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-gl px-2 py-25">
                <span class="station-code station-code-sm station-code-gl rounded-circle">G1</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Mirai">Mirai<br><small class="station-name-zh-vlist-pl">美拉</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-gl px-2 py-25">
                <span class="station-code station-code-sm station-code-gl rounded-circle">G2</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Uptown_Cross">Uptown Cross<br><small class="station-name-zh-vlist-pl">上環十字</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-gl px-2 py-25">
                <span class="station-code station-code-sm station-code-gl rounded-circle">G3</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Winterland">Winterland<br><small class="station-name-zh-vlist-pl">冬地</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-gl px-2 py-25">
                <span class="station-code station-code-sm station-code-gl rounded-circle">G4</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/City_Farm">City Farm<br><small class="station-name-zh-vlist-pl">城市農場</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-gl px-2 py-25">
                <span class="station-code station-code-sm station-code-gl rounded-circle">G5</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Mount_Austin">Mount Austin<br><small class="station-name-zh-vlist-pl">柯士甸山</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-gl px-2 py-25">
                <span class="station-code station-code-sm station-code-gl rounded-circle">G6</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Downtown_Core">Downtown Core<br><small class="station-name-zh-vlist-pl">市中心</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-gl px-2 py-25">
                <span class="station-code station-code-sm station-code-gl rounded-circle">G7</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Cavemouth">Cavemouth<br><small class="station-name-zh-vlist-pl">洞口</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-gl px-2 py-25">
                <span class="station-code station-code-sm station-code-gl rounded-circle">G8</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Bottomvalley">Bottomvalley<br><small class="station-name-zh-vlist-pl">谷底</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-gl px-2 py-25">
                <span class="station-code station-code-sm station-code-gl rounded-circle">G9</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/UCHQ_South">UCHQ South<br><small class="station-name-zh-vlist-pl">聯合城總部南</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-gl px-2 py-25">
                <span class="station-code station-code-sm-dd station-code-gl rounded-circle">G10</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/UCHQ_South">UCHQ West<br><small class="station-name-zh-vlist-pl">聯合城總部西</small></a></td>
            </tr>
          </table>
        </div>
        <div class="tab-pane fade" id="v-pills-blueline" role="tabpanel" aria-labelledby="v-pills-blueline-tab">
          <div class="py-3 border-bottom">
            <p class="d-inline font-weight-bold m-0">Blue Line 藍綫</p>
            <p class="small m-0">&#x25B8;&nbsp;<a href="/line/Blue_Line">More information</a></p>
          </div>
          <table class="small mt-3">
            <tr>
              <td></td>
              <th scope="row" class="station-code-vlist-first station-code-bg-bl px-2 py-25">
                <span class="station-code station-code-sm station-code-bl rounded-circle">B1</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Victory_Bay">Victory Bay<br><small class="station-name-zh-vlist-pl">勝利灣</small></a></td>
            </tr>
            <tr>
              <td></td>
              <th scope="row" class="station-code-vlist-middle station-code-bg-bl px-2 py-25">
                <span class="station-code station-code-sm station-code-bl rounded-circle">B2</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/UCHQ_North">UCHQ North<br><small class="station-name-zh-vlist-pl">聯合城總部北</small></a></td>
            </tr>
            <tr>
              <td></td>
              <th scope="row" class="station-code-vlist-middle station-code-bg-bl px-2 py-25">
                <span class="station-code station-code-sm station-code-bl rounded-circle">B3</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/UCHQ_South">UCHQ South<br><small class="station-name-zh-vlist-pl">聯合城總部南</small></a></td>
            </tr>
            <tr>
              <td></td>
              <th scope="row" class="station-code-vlist-middle station-code-bg-bl px-2 py-25">
                <span class="station-code station-code-sm station-code-bl rounded-circle">B4</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Mugen">Mugen<br><small class="station-name-zh-vlist-pl">無限</small></a></td>
            </tr>
            <tr>
              <td></td>
              <th scope="row" class="station-code-vlist-middle station-code-bg-bl px-2 py-25">
                <span class="station-code station-code-sm station-code-bl rounded-circle">B5</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Paradise_Falls">Paradise Falls<br><small class="station-name-zh-vlist-pl">無限</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-b6-left station-code-bg-bl px-2 py-25">
                <span class="station-code station-code-sm station-code-bl rounded-circle invisible">B6</span>
              </th>
              <th scope="row" class="station-code-vlist-b6-right station-code-bg-bl px-2 py-25">
                <span class="station-code station-code-sm station-code-bl rounded-circle">B6</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Zero_Zero">Zero Zero<br><small class="station-name-zh-vlist-pl">零零</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-b7 station-code-bg-bl px-2 py-25">
                <span class="station-code station-code-sm station-code-bl rounded-circle">B7</span>
              </th>
              <th scope="row" class="station-code-vlist-middle station-code-bg-bl px-2 py-25">
                <span class="station-code station-code-sm station-code-bl rounded-circle invisible">B7</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/City_Farm">City Farm<br><small class="station-name-zh-vlist-pl">城市農場</small></a></td>
            </tr>
            <tr>
              <td></td>
              <th scope="row" class="station-code-vlist-middle station-code-bg-bl px-2 py-25">
                <span class="station-code station-code-sm station-code-bl rounded-circle">B8</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Hell_Gate">Hell Gate<br><small class="station-name-zh-vlist-pl">地府門關</small></a></td>
            </tr>
            <tr>
              <td></td>
              <th scope="row" class="station-code-vlist-last station-code-bg-bl px-2 py-25">
                <span class="station-code station-code-sm station-code-bl rounded-circle">B9</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Spawn">Spawn<br><small class="station-name-zh-vlist-pl">生成</small></a></td>
            </tr>
          </table>
        </div>
        <div class="tab-pane fade" id="v-pills-airportline" role="tabpanel" aria-labelledby="v-pills-airportline-tab">
          <div class="py-3 border-bottom">
            <p class="d-inline font-weight-bold m-0">Airport Line 空港綫</p>
            <p class="small m-0">&#x25B8;&nbsp;<a href="/line/Airport_Line">More information</a></p>
          </div>
          <table class="small mt-3">
            <tr>
              <th scope="row" class="station-code-vlist-first station-code-bg-ax px-2 py-25">
                <span class="station-code station-code-sm station-code-ax rounded-circle">A1</span>
              </th>
              <th scope="row" class="station-code-vlist-first station-code-bg-al px-2 py-25">
                <span class="station-code station-code-sm station-code-al rounded-circle">A1</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Mirai">Mirai<br><small class="station-name-zh-vlist-pl">美拉</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-ax px-2 py-25">
                <span class="station-code station-code-sm station-code-ax rounded-circle invisible">A2</span>
              </th>
              <th scope="row" class="station-code-vlist-middle station-code-bg-al px-2 py-25">
                <span class="station-code station-code-sm station-code-al rounded-circle">A2</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/UCHQ_South">UCHQ South<br><small class="station-name-zh-vlist-pl">聯合城總部南</small class="station-name-zh-vlist-pl"></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-ax px-2 py-25">
                <span class="station-code station-code-sm station-code-ax rounded-circle invisible">A3</span>
              </th>
              <th scope="row" class="station-code-vlist-middle station-code-bg-al px-2 py-25">
                <span class="station-code station-code-sm station-code-al rounded-circle">A3</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/UCHQ_East">UCHQ East<br><small class="station-name-zh-vlist-pl">聯合城總部東</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-ax px-2 py-25">
                <span class="station-code station-code-sm station-code-ax rounded-circle">A4</span>
              </th>
              <th scope="row" class="station-code-vlist-middle station-code-bg-al px-2 py-25">
                <span class="station-code station-code-sm station-code-al rounded-circle">A4</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Mirai_City_Airport">Mirai City Airport<br><small class="station-name-zh-vlist-pl">美拉城市空港</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-last station-code-bg-ax px-2 py-25">
                <span class="station-code station-code-sm station-code-ax rounded-circle">A5</span>
              </th>
              <th scope="row" class="station-code-vlist-last station-code-bg-al px-2 py-25">
                <span class="station-code station-code-sm station-code-al rounded-circle">A5</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/UCHQ_North">UCHQ North<br><small class="station-name-zh-vlist-pl">聯合城總部北</small></a></td>
            </tr>
          </table>
        </div>
        <div class="tab-pane fade" id="v-pills-victoryline" role="tabpanel" aria-labelledby="v-pills-victoryline-tab">
          <div class="py-3 border-bottom">
            <p class="d-inline font-weight-bold m-0">Victory Line 勝利綫</p>
            <p class="small m-0">&#x25B8;&nbsp;<a href="/line/Victory_Line">More information</a></p>
          </div>
          <table class="small mt-3">
            <tr>
              <th scope="row" class="station-code-vlist-first station-code-bg-vl px-2 py-25">
                <span class="station-code station-code-sm station-code-vl rounded-circle">V1</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Mugen">Mugen<br><small class="station-name-zh-vlist-pl">無限</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-vl px-2 py-25">
                <span class="station-code station-code-sm station-code-vl rounded-circle">V2</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Bottomvalley">Bottomvalley<br><small class="station-name-zh-vlist-pl">谷底</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-vl px-2 py-25">
                <span class="station-code station-code-sm station-code-vl rounded-circle">V3</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Redhill_Spring">Redhill Spring<br><small class="station-name-zh-vlist-pl">紅山泉</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-vl px-2 py-25">
                <span class="station-code station-code-sm station-code-vl rounded-circle">V4</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Mirai_City_Airport">Mirai City Airport<br><small class="station-name-zh-vlist-pl">美拉城市空港</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-vl px-2 py-25">
                <span class="station-code station-code-sm station-code-vl rounded-circle">V5</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Logsmead">Logsmead<br><small class="station-name-zh-vlist-pl">樂米村</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-vl px-2 py-25">
                <span class="station-code station-code-sm station-code-vl rounded-circle">V6</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Marine_Park">Marine Park<br><small class="station-name-zh-vlist-pl">海洋公園</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-vl px-2 py-25">
                <span class="station-code station-code-sm station-code-vl rounded-circle">V7</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Broadbeach">Broadbeach<br><small class="station-name-zh-vlist-pl">廣灘</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-vl px-2 py-25">
                <span class="station-code station-code-sm station-code-vl rounded-circle">V8</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Victory_Bay">Victory Bay<br><small class="station-name-zh-vlist-pl">勝利灣</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-last station-code-bg-vl px-2 py-25">
                <span class="station-code station-code-sm station-code-vl rounded-circle">V9</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Moon_Lake">Moon Lake<br><small class="station-name-zh-vlist-pl">月湖</small></a></td>
            </tr>
          </table>
        </div>
        <div class="tab-pane fade" id="v-pills-waterfallline" role="tabpanel" aria-labelledby="v-pills-waterfallline-tab">
          <div class="py-3 border-bottom">
            <p class="d-inline font-weight-bold m-0">Waterfall Line 瀑布綫</p>
            <p class="small m-0">&#x25B8;&nbsp;<a href="/line/Waterfall_Line">More information</a></p>
          </div>
          <table class="small mt-3">
            <tr>
              <td></td>
              <th scope="row" class="station-code-vlist-middle station-code-bg-wl px-2 py-25">
                <span class="station-code station-code-sm station-code-wl rounded-circle">W1</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Winterland">Winterland<br><small class="station-name-zh-vlist-pl">冬地</small></a></td>
            </tr>
            <tr>
              <td></td>
              <th scope="row" class="station-code-vlist-middle station-code-bg-wl px-2 py-25">
                <span class="station-code station-code-sm station-code-wl rounded-circle">W2</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Uptown_Cross">Uptown Cross<br><small class="station-name-zh-vlist-pl">上環十字</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-w3-left station-code-bg-wl px-2 py-25">
                <span class="station-code station-code-sm station-code-wl rounded-circle invisible">W3</span>
              </th>
              <th scope="row" class="station-code-vlist-w3-right station-code-bg-wl px-2 py-25">
                <span class="station-code station-code-sm station-code-wl rounded-circle">W3</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Under_the_Falls">Under the Falls<br><small class="station-name-zh-vlist-pl">瀑布下</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-wl px-2 py-25">
                <span class="station-code station-code-sm station-code-wl rounded-circle">W4</span>
              </th>
              <th scope="row" class="station-code-vlist-middle station-code-bg-wl px-2 py-25">
                <span class="station-code station-code-sm station-code-wl rounded-circle invisible">W4</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/City_Farm">City Farm<br><small class="station-name-zh-vlist-pl">城市農場</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-wl px-2 py-25">
                <span class="station-code station-code-sm station-code-wl rounded-circle invisible">W5</span>
              </th>
              <th scope="row" class="station-code-vlist-middle station-code-bg-wl px-2 py-25">
                <span class="station-code station-code-sm station-code-wl rounded-circle">W5</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Mugen">Mugen<br><small class="station-name-zh-vlist-pl">無限</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-wl px-2 py-25">
                <span class="station-code station-code-sm station-code-wl rounded-circle invisible">W6</span>
              </th>
              <th scope="row" class="station-code-vlist-middle station-code-bg-wl px-2 py-25">
                <span class="station-code station-code-sm station-code-wl rounded-circle">W6</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Downtown_East">Downtown East<br><small class="station-name-zh-vlist-pl">市中心東</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-wl px-2 py-25">
                <span class="station-code station-code-sm station-code-wl rounded-circle invisible">W7</span>
              </th>
              <th scope="row" class="station-code-vlist-middle station-code-bg-wl px-2 py-25">
                <span class="station-code station-code-sm station-code-wl rounded-circle">W7</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Downtown_Core">Downtown Core<br><small class="station-name-zh-vlist-pl">市中心</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-w8-left station-code-bg-wl px-2 py-25">
                <span class="station-code station-code-sm station-code-wl rounded-circle invisible">W8</span>
              </th>
              <th scope="row" class="station-code-vlist-w8-right station-code-bg-wl px-2 py-25">
                <span class="station-code station-code-sm station-code-wl rounded-circle">W8</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Oasis_Point">Oasis Point<br><small class="station-name-zh-vlist-pl">綠洲角</small></a></td>
            </tr>
            <tr>
              <td></td>
              <th scope="row" class="station-code-vlist-middle station-code-bg-wl px-2 py-25">
                <span class="station-code station-code-sm station-code-wl rounded-circle">W9</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Zero_Zero">Zero Zero<br><small class="station-name-zh-vlist-pl">零零</small></a></td>
            </tr>
            <tr>
              <td></td>
              <th scope="row" class="station-code-vlist-middle station-code-bg-wl px-2 py-25">
                <span class="station-code station-code-sm-dd station-code-wl rounded-circle">W10</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Library">Library<br><small class="station-name-zh-vlist-pl">圖書館</small></a></td>
            </tr>
          </table>
        </div>
        <div class="tab-pane fade" id="v-pills-cityloopline" role="tabpanel" aria-labelledby="v-pills-cityloopline-tab">
          <div class="py-3 border-bottom">
            <p class="d-inline font-weight-bold m-0">City Loop Line 勝利綫</p>
            <p class="small m-0">&#x25B8;&nbsp;<a href="/line/City_Loop_Line">More information</a></p>
          </div>
          <table class="small mt-3">
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-cl px-2 py-25">
                <span class="station-code station-code-sm station-code-cl rounded-circle">C1</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Winterland">Winterland<br><small class="station-name-zh-vlist-pl">冬地</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-cl px-2 py-25">
                <span class="station-code station-code-sm station-code-cl rounded-circle">C2</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Berryhills">Berryhills<br><small class="station-name-zh-vlist-pl">啤梨山</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-cl px-2 py-25">
                <span class="station-code station-code-sm station-code-cl rounded-circle">C3</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Mirai">Mirai<br><small class="station-name-zh-vlist-pl">美拉</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-cl px-2 py-25">
                <span class="station-code station-code-sm station-code-cl rounded-circle">C4</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Downtown_East">Downtown East<br><small class="station-name-zh-vlist-pl">市中心東</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-cl px-2 py-25">
                <span class="station-code station-code-sm station-code-cl rounded-circle">C5</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Mount_Austin">Mount Austin<br><small class="station-name-zh-vlist-pl">柯士甸山</small></a></td>
            </tr>
          </table>
        </div>
        <div class="tab-pane fade" id="v-pills-diamondline" role="tabpanel" aria-labelledby="v-pills-diamondline-tab">
          <div class="py-3 border-bottom">
            <p class="d-inline font-weight-bold m-0">Diamond Line 鑽石綫</p>
            <p class="small m-0">&#x25B8;&nbsp;<a href="/line/Diamond_Line">More information</a></p>
          </div>
          <table class="small mt-3">
            <tr>
              <th scope="row" class="station-code-vlist-first station-code-bg-dl px-2 py-25">
                <span class="station-code station-code-sm station-code-dl rounded-circle">D1</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/UCHQ_North">UCHQ North<br><small class="station-name-zh-vlist-pl">聯合城總部北</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-dl px-2 py-25">
                <span class="station-code station-code-sm station-code-dl rounded-circle">D2</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Berryhills">Berryhills<br><small class="station-name-zh-vlist-pl">啤梨山</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-dl px-2 py-25">
                <span class="station-code station-code-sm station-code-dl rounded-circle">D3</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Mirai">Mirai<br><small class="station-name-zh-vlist-pl">美拉</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-dl px-2 py-25">
                <span class="station-code station-code-sm station-code-dl rounded-circle">D4</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Mugen">Mugen<br><small class="station-name-zh-vlist-pl">無限</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-middle station-code-bg-dl px-2 py-25">
                <span class="station-code station-code-sm station-code-dl rounded-circle">D5</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Downtown_East">Downtown East<br><small class="station-name-zh-vlist-pl">市中心東</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-last station-code-bg-dl px-2 py-25">
                <span class="station-code station-code-sm station-code-dl rounded-circle">D6</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Diamond_Hill">Diamond Hill<br><small class="station-name-zh-vlist-pl">鑽石山</small></a></td>
            </tr>
          </table>
        </div>
        <div class="tab-pane fade" id="v-pills-pandaexpress" role="tabpanel" aria-labelledby="v-pills-pandaexpress-tab">
          <div class="py-3 border-bottom">
            <p class="d-inline font-weight-bold m-0">Panda Express 熊貓快綫</p>
            <p class="small m-0">&#x25B8;&nbsp;<a href="/line/Panda_Express">More information</a></p>
          </div>
          <table class="small mt-3">
            <tr>
              <th scope="row" class="station-code-vlist-first station-code-bg-pe px-2 py-25">
                <span class="station-code station-code-sm station-code-pe rounded-circle">P1</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Panda_Museum">Panda Museum<br><small class="station-name-zh-vlist-pl">熊貓博物館</small></a></td>
            </tr>
            <tr>
              <th scope="row" class="station-code-vlist-last station-code-bg-pe px-2 py-25">
                <span class="station-code station-code-sm station-code-pe rounded-circle">P2</span>
              </th>
              <td class="px-2 py-25 lh-12">&#x25B8;&nbsp;<a href="/station/Cavemouth">Cavemouth<br><small class="station-name-zh-vlist-pl">洞口</small></a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>